@use "../../styles/mixins" as *;

header {
  height: 280px;
  background: url("../../../public/assets/pattern-bg-desktop.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  padding-block-start: 30px;
  flex-direction: column;
  gap: 35px;
  position: relative;
  margin-inline: auto;

  @include for-tablet-down {
    gap: 25px;
    padding-inline: 24px;
    height: 300px;
  }

  @media (max-width: 375px) {
    background-image: url("../../../public/assets/pattern-bg-mobile.png");
  }

  & h1 {
    color: var(--white);
    font-weight: 500;
    letter-spacing: -0.29px;
    line-height: 30px;
    font-size: 32px;

    @include for-tablet-down {
      letter-spacing: -0.23px;
      font-size: 26px;
    }
  }
}
