@use "../../styles/mixins" as *;

header {
  height: 280px;
  background-image: url("../../../public/assets/pattern-bg-desktop.png");
  display: flex;
  align-items: center;
  padding-block-start: 30px;
  flex-direction: column;
  gap: 35px;
  position: relative;

  &::before {
    content: "";
    background-image: linear-gradient(to right, #453e99, #4b4dac, #5262c5, #5873da, #5f85f1);
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -1;
    top: 0;
  }

  @include for-tablet-down {
    gap: 25px;
    padding-inline: 24px;
    height: 300px;
  }

  & h1 {
    color: var(--white);
    font-weight: 500;
    letter-spacing: -0.29px;
    line-height: 30px;
    font-size: 32px;

    @include for-tablet-down {
      letter-spacing: -0.23px;
      font-size: 26px;
    }
  }
}
